@font-face {
  font-family: gotham-light;
  src: url(../../fonts/Gotham-Light.otf);
}
@font-face {
  font-family: gotham-book;
  src: url(../../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham-bold;
  src: url(../../fonts/Gotham-Bold.otf);
}

$font-family-heading: gotham-book;
$font-family-text: gotham-light;
$font-family-bold: gotham-bold;