// COLORS
$color-text: #333333;
$color-text-inverted: #FFFFFF;
$color-dark-grey: #2c3039;
$color-blue-grey: #556682;
$color-orange: #f65700;
$color-orange-light: #ff7700;

// FONTS
$letter-spacing-text: 1px;
